body {
  background-color: rgb(66, 20, 20);
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;

}
h3 {
  color: white;
}

p {
  color: white;
  font-family: verdana;
  font-size: 30px;
} 
